<app-loading *ngIf="loading"></app-loading>

<main *ngIf="!loading && chosenRestaurant" class="bg-[#0035C1] min-h-screen flex flex-col p-4">
    
    <app-header colorClass="text-[#FFFFFF]"></app-header>
    <div class="flex flex-col items-center justify-evenly flex-1">
        <div class="flex flex-col items-center space-y-8">
            <div class="flex flex-col items-center">
                <h1 class="text-white font-Gochi text-4xl" >We have chosen for you</h1>
            <h1 class="text-[#A6F306] font-Mitr text-7xl" >{{ chosenRestaurant.name }}</h1>
            </div>
            <div class="flex flex-row w-full items-center justify-evenly">
                <button class="rounded-full bg-white px-4 py-2" (click)="openFoodpanda()">
                    <span class="font-Kelsi text-[#0035C1] text-3xl">
                        Order
                    </span>
                </button>
                <button class="rounded-full border-2 border-white px-4 py-2" (click)="openMaps()">

                        <span class="font-Kelsi text-white text-3xl">
                            Map
                        </span>
                </button>
                <button class="rounded-full border-2 border-[#A6F306] px-4 py-2" (click)="fetchRestaurants()">
                    <span class="font-Kelsi text-[#A6F306] text-3xl">
                        Retry
                    </span>
                </button>
            </div>
        </div>
        <img src="assets/images/burger.png" alt="" class="w-1/4">
    </div>
    <app-footer colorClass="text-[#FFFFFF]"></app-footer>
</main>