<main class="min-h-screen flex flex-col p-4">
    <app-header colorClass="text-[#0035C1]"></app-header>
    <div class="flex flex-col flex-1">
        <div class="
        flex p-4 flex-1
        flex-col w-full space-y-4
        xl:flex-row xl:space-y-0
        ">
            <div class="flex flex-col space-y-4 xl:space-y-0 xl:w-5/12 justify-around ">
                <h1 class="font-Mitr text-[#0035C1] 
                text-4xl
                md:text-7xl
                ">Pizza, Burger, Coffee, sab kuch khao...</h1>
                <h1 class="font-Gochi text-[#0035C1] 
                text-2xl
                md:text-5xl
                ">BAS DECIDE KR LO BHAI</h1>
            </div>
            <div class=" relative flex flex-col flex-1 items-center justify-center xl:justify-end ">
                <img src="assets/images/aloo.png" alt="" class="w-16 md:w-32 -mb-1 ">
                <img src="assets/images/arrows.png" alt="" class="absolute lg:w-9/12 pointer-events-none">
                
                <button class="bg-[#0035C1] rounded-full px-4 py-2" (click)="goToChosenRestaurant()">
                    <span class="font-Kelsi text-[#A6F306] 
                    text-3xl
                    md:text-6xl
                    ">DECIDE</span>
                </button>
                <h1 class="font-Gochi text-[#0035C1] 
                text-md
                md:text-2xl
                ">Click here</h1>
                
            </div>
        </div>

        <div class="flex flex-row w-full justify-center items-end ">
            <img src="assets/images/pizza.png" alt="" class=" w-16 -mr-4 h-full 
            md:w-32 md:-mr-4
            xl:w-40 xl:-mr-6 
            ">
            <img src="assets/images/burger.png" alt="" class=" w-24 -mr-4 h-full 
            md:w-52 md:-mr-4
            xl:w-70 xl:-mr-10">
            <img src="assets/images/coffee.png" alt="" class="w-24 -mr-4 h-full 
            md:w-48 md:-mr-4
            xl:w-70 xl:-mr-10">
            <img src="assets/images/pasta.png" alt="" class="w-24 -mr-4 h-full 
            md:w-48 md:-mr-4
            xl:w-70 xl:-mr-10">
            <img src="assets/images/steak.png" alt="" class="w-18 -mr-4 h-full 
            md:w-32 md:-mr-4
            xl:w-50 xl:-mr-6">
        </div>
    </div>
    <app-footer colorClass="text-[#0035C1]"></app-footer>
</main>