<main class="min-h-screen flex flex-col p-4">
    <app-header colorClass="text-[#0035C1]"></app-header>
    <div class="flex flex-col flex-1">
        <div class="flex flex-row flex-1 w-full p-4">
            <div class="flex flex-col w-5/12 justify-around ">
                <h1 class="font-Mitr text-[#0035C1] text-7xl">Pizza, Burger, Coffee, sab kuch khao...</h1>
                <h1 class="font-Gochi text-[#0035C1] text-5xl">BAS DECIDE KR LO BHAI</h1>
            </div>
            <div class=" relative flex flex-col flex-1 items-center justify-end  ">
                <img src="assets/images/aloo.png" alt="" class="w-32 -mb-1 ">
                <img src="assets/images/arrows.png" alt="" class="absolute w-9/12 pointer-events-none">
                
                <button class="bg-[#0035C1] rounded-full px-4 py-2" (click)="goToChosenRestaurant()">
                    <span class="font-Kelsi text-[#A6F306] text-6xl">DECIDE</span>
                </button>

                
                <h1 class="font-Gochi text-[#0035C1] text-2xl">Click here</h1>
                
                <!-- <h1 class=" absolute font-Gochi text-[#0035C1] text-xl w-30 z-10">*Mujhe bhi kha sakte ho hehe*</h1> -->
            </div>
        </div>

        <div class="flex flex-row w-full justify-center items-end ">
            <img src="assets/images/pizza.png" alt="" class="w-40 h-full -mr-6">
            <img src="assets/images/burger.png" alt="" class="w-70 h-full -mr-10">
            <img src="assets/images/coffee.png" alt="" class="w-70 h-full -mr-10">
            <img src="assets/images/pasta.png" alt="" class="w-70 h-full -mr-10">
            <img src="assets/images/steak.png" alt="" class="w-50 h-full -mr-6">
        </div>
    </div>
    <app-footer colorClass="text-[#0035C1]"></app-footer>
</main>